<div
  class="flex-1 flex flex-col items-center justify-center text-center px-6 bg-gradient-to-br from-blue-500 via-indigo-600 to-purple-700 text-white h-lvh"
>
  <h1 class="text-4xl md:text-6xl font-extrabold tracking-tight animate-fadeIn">
    Leave Management System
  </h1>
  <p class="mt-4 text-lg md:text-xl animate-fadeIn delay-100">
    Simplify your leave tracking and approval process.
  </p>
  <div class="mt-6 space-x-4 animate-fadeIn delay-200">
    <a
      routerLink="/login"
      class="px-6 py-3 cursor-pointer bg-indigo-500 hover:bg-indigo-600 text-lg font-medium rounded-lg shadow-lg transition-transform transform hover:scale-105"
    >
      Get Started
    </a>
    <a
      routerLink="/about"
      class="px-6 py-3 bg-white text-indigo-700 hover:bg-gray-100 text-lg font-medium rounded-lg shadow-lg transition-transform transform hover:scale-105"
    >
      Learn More
    </a>
  </div>
</div>
